{% extends 'base.html' %}

{% block title %}
Desafio do dia

{% endblock title %}

{% block head %}
  <style>
    body{
      background-image: url('/media/ecomm/images/BackgroundSignUp.jpg'); background-size: cover;
        {{ challenge_all }}
    }
  </style>
{% endblock head %}

{% block content %}

{% include 'nav.html' %}
  {{ challenge_all }}
    {% comment %} <form method="POST"> {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Sign Up</button>
    </form> {% endcomment %}

    <div class="text-center mt-5 p-2">
        <form style="max-width:400px;margin:auto; background-color:rgba(255,255, 255, 0.7);" class="border p-5 " method="POST"> {% csrf_token %}
           <a href='{% url 'home' %}'>
            <img src="/media/{{ challenge_img }}" alt="/{{ challenge_img }}" class="img-fluid" style="width: 20vw ;height: 20vw">
            </a>
                <h1 class="mb-5 mt-2 font-weight-normal">{{ challenge.img }}</h1>
            <input type="text" id="challengename" name="cname"><br>
            <input type="submit" class="btn btn-dark btn-block mt-4 mb-4" value="Submeter" >
            </form>
            </div>
          </form>
    </div>

    <script>
        const form_fields = document.getElementsByTagName('input');
            form_fields[1].placeholder='';

		  for (const field in form_fields){
		  	form_fields[field].className += ' form-control'
		  }
    </script>

{% endblock content %}