{% extends 'base.html' %}

{% block title %}Obrigado pela sua compra{% endblock title %}

{% block head %}
    <style>
        body {
          font-family: 'Poppins', sans-serif;
        }

        .navbar-brand {
          font-size: 1.8rem;
          font-family: 'Limelight', cursive;
          font-weight: 600;
        }

        .nav-item {
          font-family: 'Poppins', sans-serif;
        }


        h1 {
          font-family: 'Cormorant Garamond', serif;
        }
    </style>
{% endblock head %}

{% block content %}

    {% include 'nav.html' %}

    <div class="jumbotron text-center">
        <h1 class="display-3">Obrigado pela sua compra!</h1>
        <p class="lead">O seu pedido está a ser processado</p>
        <hr>
        <!-- <p>
            Having trouble? <a href="">Contact us</a>
        </p> -->
        <p class="lead">
            <a class="btn btn-dark btn-md" href="{% url 'home' %}" role="button">Volte à Página Inicial</a>
        </p>
    </div>

{% endblock content %}